<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897188779737-cpfeeij1inqcmbegthpn4rpcfbgg6680.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897188779737-cpfeeij1inqcmbegthpn4rpcfbgg6680</string>
	<key>API_KEY</key>
	<string>AIzaSyD3E05dK1KWqgIcgDaFXsueu2hZO-tMmgM</string>
	<key>GCM_SENDER_ID</key>
	<string>897188779737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vsFemalefellows.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>femalefellows-11bb9</string>
	<key>STORAGE_BUCKET</key>
	<string>femalefellows-11bb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897188779737:ios:62c1c2ccbf33bf327a10c8</string>
</dict>
</plist>